.dropdown-menu {
    
    width: 200px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: start;
     li {
        background: #8193a7;
        cursor: pointer;
      }
      li:hover {
        background: #06111d;
      }
     
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
 