.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .btnOne{
        background-color:green;
        color:white;
        width: 100px;
        height: 50px;
       
    }
    .btnOne:hover{background-color:red;}

    .btnTwo{
        background-color:#20B2AA;
        color:white;
        width: 120px;
        height: 50px;
        margin-left: 20px;
    }
    .btnTwo:hover{background-color:red;}
}
